/** @format */

:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --btn-color-two: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /*line-height: calc(24 / 16);*/
  letter-spacing: 0.02em;
  color: var(--dark-color);
  background-color: var(--white-color);
}

/* _______________________ HEADER __________________________*/
.logo,
.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}

.logo-web {
  color: var(--primary-brand-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.header-link :hover,
.header-link :focus {
  color: var(--text-color);
}

.header-link :active {
  color: var(--primary-brand-color);
}

.header-contact-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-contact-link :hover,
.header-contact-link :focus,
.header-contact-link :active {
  color: var(--primary-brand-color);
}

/* _______________________ MAIN __________________________*/
/*___________title______________*/

.main-title {
  background-color: var(--dark-color);
}
.main-title-text {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.main-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(19 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  width: 170px;
  height: 51px;
  border: 1px solid var(--primary-brand-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-btn :hover,
.main-btn :focus {
  color: var(--primary-brand-color);
}
.main-btn :active {
  border: 1px solid var(--btn-color-two);
  color: var(--btn-color-two);
}

/*___________section features ______________*/

.features-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*___________section whatwedo______________*/

.whatwedo-titel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.whatwedo-foto {
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  border: 1px solid var(--accent-color);
}

/*___________section team______________*/

.team-section {
  background-color: var(--light-color);
}
.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-block {
  width: 264px;
  height: 380px;
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-foto {
  width: 264px;
  height: 260px;
}

.team-titel {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* _______________________ FOOTER __________________________*/

.footer-section {
  background-color: var(--dark-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/*______________________________________PORTFOLIO_______________________*/

/*___________section buttons______________*/

.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-btn :hover,
.portfolio-btn :focus {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
}
.portfolio-btn :active {
  background-color: var(--btn-color-two);
  color: var(--white-color);
}

/*___________ section portfolio ______________*/

.portfolio-block {
  width: 360px;
  height: 420px;
  border: 0.5px solid var(--light-color);
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-foto {
  width: 360px;
  height: 300px;
}

.portfolio-titel {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
